*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  font-family: sans-serif;
}

header{
  height: 80px;
  background-color: aqua;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu ul{
  list-style: none;
}

header .menu ul:first-child{
  display: flex;
}

header .menu ul li{
  margin-right: 20px;
}

header .menu ul li a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

header .menu ul li a:hover{
  text-decoration: underline;
}

nav > ul > li{
  position: relative;
}

/* .first-list{
  position:absolute
} */

header .menu .dropdown{
  position: absolute;
  background-color: white;
  top: 20px;
  left: 10px;
  display: none;
}
 .menu ul li:hover .dropdown{
  display: block;
}

main{
  height: calc(100vh - 150px);
  overflow: auto;
}

footer{
  height:70px;
  background-color: blueviolet;
}